# Dependencies
node_modules/
.pnp
.pnp.js
.venv/
venv/

# Testing
/coverage

# Production
/build
/dist
dist-ssr

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.pfx
*.p12

# Azure Functions & Azurite
bin
obj
secrets.json
local.settings.json
__azurite_*
__blobstorage__
__queuestorage__

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.local